{
	admin off
	auto_https off
}

:{$PORT:8080} {
	encode zstd gzip

	handle /healthz {
		respond "ok" 200
	}

	handle /api/v1/* {
		reverse_proxy {$API_ORIGIN}
	}

	handle {
		reverse_proxy {$WEB_ORIGIN}
	}
}
